div .background{
  background: url(../../assets/img/Portada_2.jpeg) repeat;
}
div .transbox {
    margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}
div .transbox h{
    margin: 5%;
   font-weight: bold;
   color: #000000;
}