body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

main > div{
    max-width: 50%;
    min-width: 346px;
    margin: 0 auto;
}


img {
    max-width: 500px;
    height: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#menu-contenido {
    min-width: 346.63px;
}

.nav-item:hover{
    color: #eae9f1;
    text-decoration: underline;
}

p,li{
    text-align: justify;
}